<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SacramentMeetingPlanner</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="logo-container">
            <a asp-page="/meetings/Index"><i class="far fa-file-alt"></i> Sacrament Meeting Planner</a>
        </div>
        <nav>
            <ul>
                <li>
                    <a asp-area="" asp-page="/meetings/Index"><i class="fas fa-home"></i> <span>Meetings</span></a>
                </li>
                <li>
                    <a asp-area="" asp-page="/About"><i class="fas fa-info-circle"></i> <span>About</span></a>
                </li>
                <li>
                    <a asp-area="" asp-page="/meetings/Create"><i class="fas fa-folder-plus"></i> <span>Create</span></a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-page="/Privacy"><i class="fas fa-file-powerpoint"></i> <span>Privacy</span></a>
                </li>
            </ul>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>

    <footer>
        <p>&copy; 2020 Sacrament Meeting Planner | <a href="https://github.com/Alonzocarlos95/MegaDesk_GROUP2/tree/master/SacramentMeetingPlanner" target="_blank"><i class="fab fa-github"></i></a></p>
    </footer>

    
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
