@page
@model SacramentMeetingPlanner.AboutModel
@{
    ViewData["Title"] = "About";
}
    <div class="about-page">
        <h1>About</h1>
        <img src="~/lib/img/sacrament.jpg" alt="Sacrament Meeting Picture"/>
        <p class="fs22px fs-i-21px fs-m-20px fs-p-19px lh2em">The Sacrament Meeting Planner provides a web interface to planning sacrament meetings providing access to members and the ability to print a program. The web application also provides a history of speakers and topics. </p>
    </div>


