@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="home-presentation flex-s-a pt20px">
    <div class="box-6 flex-hc flex-vc box-m-12">
        <img src="~/lib/img/sacrament.jpg" alt="Sacrement Meeting Picture" class="w80p maxw500px dblock">
    </div>
    <div class="box-6 box-m-12 flex-hc flex-vcc">
        <h1 class="w100p fs50px tac lctext">Sacrament Meeting<br>Planner</h1>
        <p class="w100p tac lh2em fs20px mt10px"><em>"And that thou mayest more fully keep thyself unspotted from the world, thou shalt go to the house of prayer and offer up thy sacraments upon my holy day;"</em> D&amp;C 59: 9</p>
    </div>
</div> 