@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<ul class="privacy">
    <li>Name the application and select your own design and layout schema.</li>
    <li>Incorporate all the standard CRUD abilities.</li>
    <li>Validate all inputs.</li>
    <li>Create a positive user experience by making operating it as easy as possible for the user.</li>
    <li>Adhere to acceptable PARC design principles.</li>
    <li>Include the following data:
        <ul>
            <li>Date of meeting
                <ul>
                    <li>Allow the user to select a date. Not all parts of the world have Sabbath meetings on Sundays.</li>
                </ul></li>
            <li>Conducting leader</li>
            <li>Opening song, sacrament hymn, and closing song</li>
            <li>Intermediate number or musical number (optional)</li>
            <li>Opening and closing prayers</li>
            <li>(should have zero to n number of speakers possible)</li>
            <li>Speaker subjects</li>
        </ul></li>
    <li>Follow acceptable programming conventions using C#.</li>
</ul>
