@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
   font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap');
h1, h2, h3, h4, h5, h6 {
    font-family: 'Baloo Thambi 2', cursive;
    text-align: center;
}

.logo-container {
    font-family: 'Baloo Thambi 2', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

header {
    nav {
        font-family: 'Gotu', sans-serif;
    }
}