@page
@model SacramentMeetingPlanner.Pages.meetings.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Meeting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Meeting.Date" class="control-label"></label>
                <input asp-for="Meeting.Date" class="form-control" />
                <span asp-validation-for="Meeting.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.Presiding" class="control-label"></label>
                <input asp-for="Meeting.Presiding" class="form-control" />
                <span asp-validation-for="Meeting.Presiding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.Leading" class="control-label"></label>
                <input asp-for="Meeting.Leading" class="form-control" />
                <span asp-validation-for="Meeting.Leading" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.Pianist" class="control-label"></label>
                <input asp-for="Meeting.Pianist" class="form-control" />
                <span asp-validation-for="Meeting.Pianist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.MusicDirector" class="control-label"></label>
                <input asp-for="Meeting.MusicDirector" class="form-control" />
                <span asp-validation-for="Meeting.MusicDirector" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.StakeAuthority" class="control-label"></label>
                <input asp-for="Meeting.StakeAuthority" class="form-control" />
                <span asp-validation-for="Meeting.StakeAuthority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.EssentialAnnouncements" class="control-label"></label>
                <input asp-for="Meeting.EssentialAnnouncements" class="form-control" />
                <span asp-validation-for="Meeting.EssentialAnnouncements" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.FirstHymn" class="control-label"></label>
                <select asp-for="Meeting.FirstHymn" class="form-control">
                    <option value="#1 - The Morning Breaks">#1-The Morning Breaks</option>
                    <option value="#2 - The Spirit of God">#2-The Spirit of God</option>
                    <option value="#3 - Now Let Us Rejoice">#3-Now Let Us Rejoice</option>
                    <option value="#4 - Truth Eternal">#4-Truth Eternal</option>
                    <option value="#5 - High on the Mountain Top">#5-High on the Mountain Top</option>
                    <option value="#6 - Redeemer of Israel">#6-Redeemer of Israel</option>
                    <option value="#8 - Awake and Arise">#8-Awake and Arise</option>
                    <option value="#9 - Come, Rejoice">#9-Come, Rejoice</option>
                    <option value="#10 - Come, Sing to the Lord">#10-Come, Sing to the Lord</option>
                    <option value="#13 - An Angel from on High">#13-An Angel from on High</option>
                    <option value="#15 - I Saw a Mighty Angel Fly">#15-I Saw a Mighty Angel Fly</option>
                    <option value="#20 - God of Power, God of Right">#20-God of Power, God of Right</option>
                    <option value="#23 - We Ever Pray for Thee">#23-We Ever Pray for Thee</option>
                    <option value="#26 - Joseph Smith’s First Prayer">#26-Joseph Smith’s First Prayer</option>
                    <option value="#27 - Praise to the Man">#27-Praise to the Man</option>
                    <option value="#30 - Come, Come, Ye Saints">#30-Come, Come, Ye Saints</option>
                    <option value="#34 - O Ye Mountains High">#34-O Ye Mountains High</option>
                    <option value="#35 - For the Strength of the Hills">#35-For the Strength of the Hills</option>
                    <option value="#38 - Come, All Ye Saints of Zion">#38-Come, All Ye Saints of Zion</option>
                    <option value="#39 - O Saints of Zion">#39-O Saints of Zion</option>
                    <option value="#40 - Arise, O Glorious Zion">#40-Arise, O Glorious Zion</option>
                    <option value="#41 - Let Zion in Her Beauty Rise">#41-Let Zion in Her Beauty Rise</option>
                </select>
                <span asp-validation-for="Meeting.FirstHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.FirstPrayer" class="control-label"></label>
                <input asp-for="Meeting.FirstPrayer" class="form-control" />
                <span asp-validation-for="Meeting.FirstPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.WardAnnouncements" class="control-label"></label>
                <input asp-for="Meeting.WardAnnouncements" class="form-control" />
                <span asp-validation-for="Meeting.WardAnnouncements" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.SacramentHymn" class="control-label"></label>
                <select asp-for="Meeting.SacramentHymn" class="form-control">
                    <option value="#1 - The Morning Breaks">#1-The Morning Breaks</option>
                    <option value="#2 - The Spirit of God">#2-The Spirit of God</option>
                    <option value="#3 - Now Let Us Rejoice">#3-Now Let Us Rejoice</option>
                    <option value="#4 - Truth Eternal">#4-Truth Eternal</option>
                    <option value="#5 - High on the Mountain Top">#5-High on the Mountain Top</option>
                    <option value="#6 - Redeemer of Israel">#6-Redeemer of Israel</option>
                    <option value="#8 - Awake and Arise">#8-Awake and Arise</option>
                    <option value="#9 - Come, Rejoice">#9-Come, Rejoice</option>
                    <option value="#10 - Come, Sing to the Lord">#10-Come, Sing to the Lord</option>
                    <option value="#13 - An Angel from on High">#13-An Angel from on High</option>
                    <option value="#15 - I Saw a Mighty Angel Fly">#15-I Saw a Mighty Angel Fly</option>
                    <option value="#20 - God of Power, God of Right">#20-God of Power, God of Right</option>
                    <option value="#23 - We Ever Pray for Thee">#23-We Ever Pray for Thee</option>
                    <option value="#26 - Joseph Smith’s First Prayer">#26-Joseph Smith’s First Prayer</option>
                    <option value="#27 - Praise to the Man">#27-Praise to the Man</option>
                    <option value="#30 - Come, Come, Ye Saints">#30-Come, Come, Ye Saints</option>
                    <option value="#34 - O Ye Mountains High">#34-O Ye Mountains High</option>
                    <option value="#35 - For the Strength of the Hills">#35-For the Strength of the Hills</option>
                    <option value="#38 - Come, All Ye Saints of Zion">#38-Come, All Ye Saints of Zion</option>
                    <option value="#39 - O Saints of Zion">#39-O Saints of Zion</option>
                    <option value="#40 - Arise, O Glorious Zion">#40-Arise, O Glorious Zion</option>
                    <option value="#41 - Let Zion in Her Beauty Rise">#41-Let Zion in Her Beauty Rise</option>
                </select>
                <span asp-validation-for="Meeting.SacramentHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.FirstMessagePerson" class="control-label"></label>
                <input asp-for="Meeting.FirstMessagePerson" class="form-control" />
                <span asp-validation-for="Meeting.FirstMessagePerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.Speakersubjects" class="control-label"></label>
                <input asp-for="Meeting.Speakersubjects" class="form-control" />
                <span asp-validation-for="Meeting.Speakersubjects" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.SecondMessagePerson" class="control-label"></label>
                <input asp-for="Meeting.SecondMessagePerson" class="form-control" />
                <span asp-validation-for="Meeting.SecondMessagePerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.Speakersubjects2" class="control-label"></label>
                <input asp-for="Meeting.Speakersubjects2" class="form-control" />
                <span asp-validation-for="Meeting.Speakersubjects2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.ThirdMessagePerson" class="control-label"></label>
                <input asp-for="Meeting.ThirdMessagePerson" class="form-control" />
                <span asp-validation-for="Meeting.ThirdMessagePerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.Speakersubjects3" class="control-label"></label>
                <input asp-for="Meeting.Speakersubjects3" class="form-control" />
                <span asp-validation-for="Meeting.Speakersubjects3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.LastHymn" class="control-label"></label>
                <select asp-for="Meeting.LastHymn" class="form-control">
                    <option value="#1 - The Morning Breaks">#1-The Morning Breaks</option>
                    <option value="#2 - The Spirit of God">#2-The Spirit of God</option>
                    <option value="#3 - Now Let Us Rejoice">#3-Now Let Us Rejoice</option>
                    <option value="#4 - Truth Eternal">#4-Truth Eternal</option>
                    <option value="#5 - High on the Mountain Top">#5-High on the Mountain Top</option>
                    <option value="#6 - Redeemer of Israel">#6-Redeemer of Israel</option>
                    <option value="#8 - Awake and Arise">#8-Awake and Arise</option>
                    <option value="#9 - Come, Rejoice">#9-Come, Rejoice</option>
                    <option value="#10 - Come, Sing to the Lord">#10-Come, Sing to the Lord</option>
                    <option value="#13 - An Angel from on High">#13-An Angel from on High</option>
                    <option value="#15 - I Saw a Mighty Angel Fly">#15-I Saw a Mighty Angel Fly</option>
                    <option value="#20 - God of Power, God of Right">#20-God of Power, God of Right</option>
                    <option value="#23 - We Ever Pray for Thee">#23-We Ever Pray for Thee</option>
                    <option value="#26 - Joseph Smith’s First Prayer">#26-Joseph Smith’s First Prayer</option>
                    <option value="#27 - Praise to the Man">#27-Praise to the Man</option>
                    <option value="#30 - Come, Come, Ye Saints">#30-Come, Come, Ye Saints</option>
                    <option value="#34 - O Ye Mountains High">#34-O Ye Mountains High</option>
                    <option value="#35 - For the Strength of the Hills">#35-For the Strength of the Hills</option>
                    <option value="#38 - Come, All Ye Saints of Zion">#38-Come, All Ye Saints of Zion</option>
                    <option value="#39 - O Saints of Zion">#39-O Saints of Zion</option>
                    <option value="#40 - Arise, O Glorious Zion">#40-Arise, O Glorious Zion</option>
                    <option value="#41 - Let Zion in Her Beauty Rise">#41-Let Zion in Her Beauty Rise</option>
                </select>
                <span asp-validation-for="Meeting.LastHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.LastPrayer" class="control-label"></label>
                <input asp-for="Meeting.LastPrayer" class="form-control" />
                <span asp-validation-for="Meeting.LastPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="tac pb20px">
    <a asp-page="Index"><i class="fas fa-undo"></i> Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
