@page
@model SacramentMeetingPlanner.Pages.meetings.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Meeting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Meeting.ID" />
            <div class="form-group">
                <label asp-for="Meeting.Date" class="control-label"></label>
                <input asp-for="Meeting.Date" class="form-control" />
                <span asp-validation-for="Meeting.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.Presiding" class="control-label"></label>
                <input asp-for="Meeting.Presiding" class="form-control" />
                <span asp-validation-for="Meeting.Presiding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.Leading" class="control-label"></label>
                <input asp-for="Meeting.Leading" class="form-control" />
                <span asp-validation-for="Meeting.Leading" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.Pianist" class="control-label"></label>
                <input asp-for="Meeting.Pianist" class="form-control" />
                <span asp-validation-for="Meeting.Pianist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.MusicDirector" class="control-label"></label>
                <input asp-for="Meeting.MusicDirector" class="form-control" />
                <span asp-validation-for="Meeting.MusicDirector" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.StakeAuthority" class="control-label"></label>
                <input asp-for="Meeting.StakeAuthority" class="form-control" />
                <span asp-validation-for="Meeting.StakeAuthority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.EssentialAnnouncements" class="control-label"></label>
                <input asp-for="Meeting.EssentialAnnouncements" class="form-control" />
                <span asp-validation-for="Meeting.EssentialAnnouncements" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.FirstHymn" class="control-label"></label>
                <input asp-for="Meeting.FirstHymn" class="form-control" />
                <span asp-validation-for="Meeting.FirstHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.FirstPrayer" class="control-label"></label>
                <input asp-for="Meeting.FirstPrayer" class="form-control" />
                <span asp-validation-for="Meeting.FirstPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.WardAnnouncements" class="control-label"></label>
                <input asp-for="Meeting.WardAnnouncements" class="form-control" />
                <span asp-validation-for="Meeting.WardAnnouncements" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.SacramentHymn" class="control-label"></label>
                <input asp-for="Meeting.SacramentHymn" class="form-control" />
                <span asp-validation-for="Meeting.SacramentHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.FirstMessagePerson" class="control-label"></label>
                <input asp-for="Meeting.FirstMessagePerson" class="form-control" />
                <span asp-validation-for="Meeting.FirstMessagePerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.SecondMessagePerson" class="control-label"></label>
                <input asp-for="Meeting.SecondMessagePerson" class="form-control" />
                <span asp-validation-for="Meeting.SecondMessagePerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.ThirdMessagePerson" class="control-label"></label>
                <input asp-for="Meeting.ThirdMessagePerson" class="form-control" />
                <span asp-validation-for="Meeting.ThirdMessagePerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.LastHymn" class="control-label"></label>
                <input asp-for="Meeting.LastHymn" class="form-control" />
                <span asp-validation-for="Meeting.LastHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.LastPrayer" class="control-label"></label>
                <input asp-for="Meeting.LastPrayer" class="form-control" />
                <span asp-validation-for="Meeting.LastPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
